body, fieldset, input, label {
	font-family: "Open Sans";
}

fieldset {
	padding: 10px;
	border-color:#eee;
	position:relative;
	margin: 10px 0;
	border-top-right-radius: 5px;
}
fieldset fieldset {
	border-color:#aaa;
	border: none;
	padding: 0;
	legend {
		margin-left: 0;
	}
}
fieldset fieldset legend {
	font-size: 0.7em;

}

p {
	padding: 0;
	margin: 0;
}

label {
	width: 40%;
	float: left;
	padding: 6px 0;
}

fieldset p {
	clear: both;
}

input, select {
	width: 60%;
	padding: 0 10px;
	float: left;
	height: 30px;
}

input[type=button], input[type=checkbox] {
	width: auto;
	float: right;
}

legend {
	background-color: #ccc;
	border: 1px solid #999;
	margin-bottom: -1px;
	position: relative;
	padding: 3px 10px;
	font-weight: 700;
	z-index: 2;
	border-top-right-radius: 5px;
}

h1 {
	text-align: center;
}

table {
	width: 100%;
}