/* Layout */
.r {
	text-align: right;
}
.l {
	text-align: left;
}
.c {
	text-align: center;
}
.fl {
	float:left;
}
.fr {
	float:left;
}
.clear {
	clear: both;
}

/* General presentatin */
.box {
	padding: 0 10px;
	border-top-right-radius: 5px;
	border: 1px solid #999;
	background-color: #ddd;
}
.half_col {
	width: 48%;
	float: left;
	margin: 0 1%;
}
.full_width {
	width: 98%;
}

.dialog h3 {
	cursor:pointer;
}

/* Battlefield */
.unit {
	font-weight: 700;
	text-align: center;
	width: 200px;
	vertical-align: middle;
	padding: 90px 0;
	transition: all 1s;
	 -webkit-transition-timing-function: ease-in; /* Safari and Chrome */
    transition-timing-function: ease-in;
	height: 20px;
	background: url(../images/unit.png) 50% 50% #ddd;
	border: 1px solid #999;
	position: absolute;
	top: 45px;

}
.battlefield {
	background-color: #eee;
	overflow: hidden;
	position: relative;
	height: 280px;
	width: 68%;
	padding: 1%;
	float: left;
	.unit_spinner {
		position:absolute;
		width: 200px;
		text-align:center;
		bottom:0;
		border-top:1px dashed #aaa;
		p {
			font-size:0.8em;
		}
		.button {
			border:1px solid #ddd;
			float:left;
			width: 48%;
			cursor:pointer;
			margin: 3px 0.5%;
			background-color:#999;
		}
	}
	.left {
		left: 0;
		border-right:1px dashed #aaa;
	}
	.right {
		right: 0;
		border-left:1px dashed #aaa;
	}
}
.battlefield_hidden.status_area {
	width: auto;
	transition: all 2s;
	float: none;
}
.battlefield.full_width {
	width: 97.8%;
}

.battlefield_hidden.battlefield {
	display: none!important;
	transition: all 2s;
}

/* Status area */
.status_area {
	width: 25%;
	float: right;
	display:none;
}

/* Effects */
.droplet {
	background-color: red;
	position: fixed;
	border-radius: 100%;
}
.battlefield_message {
	position: absolute;
	text-align: center;
	width: 200px;
	font-weight: 700;
	opacity: 0.8;
}

/* Special rules */
.reveal_rules, .battlefield legend, .status_area legend {
	cursor: pointer;
}
p.reveal_rules {
	text-align: center;
	border-top: 1px dashed #666;
	background-color: #fff;
	margin: 10px -9px 0;
}
.special_rule_search {
	margin: -8px -9px 10px;
	text-align: right;
	width: 50%;
	margin-right: -10px;
	margin-top: -29px;
	float: right;
	input {
		float: left;
		width: 98%;
		border-top-right-radius: 5px;
		border: 1px solid #999;
		background-color: #fff;
		font-size: 11px;
		padding: 6px;
		height: auto;
		margin: 0;
		margin-right: 4px;
	}
}
fieldset.special_rules {
	label {
		width: 90%;
		display: inline!important;
	}
}

/* Damage bars */
.damage_outer {
	position:relative;
	margin-top: 10px;
	border: 1px solid #000;
	background-color: #eee;
	opacity: .5;
}
.morale_bar{
	background-color:#ff0!important;
	z-index:0!important;
}
.nerve_bar {
	background-color:#66f!important;
	z-index:1!important;	
}
.morale_area p {
	text-align:center;
}
.damage_bar {
	z-index:2;
	width: 0;
	background-color: #800;
	transition: all 1s;
	position:absolute;
}
.damage_bar, .damage_outer {
	height: 20px;
}
.combat_overlay {
	position:absolute;
	top:20px;
	width: 200px;
	height: 202px;
	background:url(../images/combat.png) 50% 50% no-repeat transparent;
	top:45px;
	display:none;
}
p.half_col {
	clear:none;
}
.bar_col {
	width: 45%;
}
.bar {
	height: 10px;
	color:#fff;
	background-color:#22f;
}
.bar_unit_1 {
	background-color:#66f;
}
.bar_unit_2 {
	background-color:#aaf;
	color:#000;
}
.bar_unit_1, .bar_unit_2 {
	float:left;
}
.key_title {
	cursor:pointer;
}
.small_text {
	font-size:0.8em;
}
.close_button {
	border:1px solid #888;
	text-align:center;
	background-color:#ddd;
	margin:10 auto;
	cursor:pointer;
	max-width: 200px;
	width: 100%;
}
.close_button:hover {
	border:1px solid #ddd;
	background-color:#888;
}

.swap_units {
	border:1px solid #aaa;
	background-color:#fff;
	position:absolute;
	top:0;
	right:-1px;
	cursor:pointer;
	padding: 1px 10px;
}