#morale_1, #morale_2, #unit_rules_1, #unit_rules_2 {
	display: none;
}
#main_unit_1 {
	transform: rotate(-90deg);
}
#main_unit_2 {
	transform: rotate(90deg);
}
#status_panel{
	height: 216px;
	overflow: auto;
}
#start_sim {
	float:none;
	padding: 10px!important;
	font-weight:700;
	font-size:1.6em;
	height: auto;
}
#enable_testing {
	cursor:pointer;
}
#ranged_combat {
	width: 35px;
	position:absolute;
	top:20px;
	height: 202px;
	background:url(../images/arrows.png) 50% 50% repeat-x transparent;
	opacity:0.5;
	display:none;
	top:45px;
}
#stat_screen {
	display:none;
	position:fixed;
	width: 96%;
	left:0;
	padding: 2%;
	z-index: 10;
	top: 0;
	.box {
		padding: 15px;
		h3, h4{
			border-bottom: 1px dashed #888;
			margin: -15px -15px 0px;
			text-align: center;
			padding: 0;
		}
		h3 {
			background-color: #555;
			color: #fff;
			font-size: 1.6em;
		}
		h4 {
			font-size: 1.2em;
			border-top: 1px dashed #888;
			background-color: #ddd;
			margin-top: 5px;
		}
	}
}
#darkener {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: none;
	cursor: pointer;
	background-color: #000;
	opacity: 0.8;	
}
#summary_screen_contents {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 -15px;
	padding: 0 15px;
	border-bottom:1px dashed #999;
	p {
		font-size:0.9em;
	}
}