@media only screen and (max-width : 980px) {
	label, .half_col, select, textarea, input {
		width: 100%;
		float:none;
		clear:both;
		margin:0;
	}
	.clear {
		display:none;
	}
	fieldset .clear {
		display:block;
	}
	#start_sim {
		padding:10px!important;
		font-size:1.2em;
	}
	label, select, textarea, input {
		clear:both;
	}
}