/* line 1, ../../scss/02-tags.scss */
body, fieldset, input, label {
  font-family: "Open Sans";
}

/* line 5, ../../scss/02-tags.scss */
fieldset {
  padding: 10px;
  border-color: #eee;
  position: relative;
  margin: 10px 0;
  border-top-right-radius: 5px;
}

/* line 12, ../../scss/02-tags.scss */
fieldset fieldset {
  border-color: #aaa;
  border: none;
  padding: 0;
}
/* line 16, ../../scss/02-tags.scss */
fieldset fieldset legend {
  margin-left: 0;
}

/* line 20, ../../scss/02-tags.scss */
fieldset fieldset legend {
  font-size: 0.7em;
}

/* line 25, ../../scss/02-tags.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 30, ../../scss/02-tags.scss */
label {
  width: 40%;
  float: left;
  padding: 6px 0;
}

/* line 36, ../../scss/02-tags.scss */
fieldset p {
  clear: both;
}

/* line 40, ../../scss/02-tags.scss */
input, select {
  width: 60%;
  padding: 0 10px;
  float: left;
  height: 30px;
}

/* line 47, ../../scss/02-tags.scss */
input[type=button], input[type=checkbox] {
  width: auto;
  float: right;
}

/* line 52, ../../scss/02-tags.scss */
legend {
  background-color: #ccc;
  border: 1px solid #999;
  margin-bottom: -1px;
  position: relative;
  padding: 3px 10px;
  font-weight: 700;
  z-index: 2;
  border-top-right-radius: 5px;
}

/* line 63, ../../scss/02-tags.scss */
h1 {
  text-align: center;
}

/* line 67, ../../scss/02-tags.scss */
table {
  width: 100%;
}
