/* Layout */
/* line 2, ../../scss/03-classes.scss */
.r {
  text-align: right;
}

/* line 5, ../../scss/03-classes.scss */
.l {
  text-align: left;
}

/* line 8, ../../scss/03-classes.scss */
.c {
  text-align: center;
}

/* line 11, ../../scss/03-classes.scss */
.fl {
  float: left;
}

/* line 14, ../../scss/03-classes.scss */
.fr {
  float: left;
}

/* line 17, ../../scss/03-classes.scss */
.clear {
  clear: both;
}

/* General presentatin */
/* line 22, ../../scss/03-classes.scss */
.box {
  padding: 0 10px;
  border-top-right-radius: 5px;
  border: 1px solid #999;
  background-color: #ddd;
}

/* line 28, ../../scss/03-classes.scss */
.half_col {
  width: 48%;
  float: left;
  margin: 0 1%;
}

/* line 33, ../../scss/03-classes.scss */
.full_width {
  width: 98%;
}

/* line 37, ../../scss/03-classes.scss */
.dialog h3 {
  cursor: pointer;
}

/* Battlefield */
/* line 42, ../../scss/03-classes.scss */
.unit {
  font-weight: 700;
  text-align: center;
  width: 200px;
  vertical-align: middle;
  padding: 90px 0;
  transition: all 1s;
  -webkit-transition-timing-function: ease-in;
  /* Safari and Chrome */
  transition-timing-function: ease-in;
  height: 20px;
  background: url(../images/unit.png) 50% 50% #dddddd;
  border: 1px solid #999;
  position: absolute;
  top: 45px;
}

/* line 58, ../../scss/03-classes.scss */
.battlefield {
  background-color: #eee;
  overflow: hidden;
  position: relative;
  height: 280px;
  width: 68%;
  padding: 1%;
  float: left;
}
/* line 66, ../../scss/03-classes.scss */
.battlefield .unit_spinner {
  position: absolute;
  width: 200px;
  text-align: center;
  bottom: 0;
  border-top: 1px dashed #aaa;
}
/* line 72, ../../scss/03-classes.scss */
.battlefield .unit_spinner p {
  font-size: 0.8em;
}
/* line 75, ../../scss/03-classes.scss */
.battlefield .unit_spinner .button {
  border: 1px solid #ddd;
  float: left;
  width: 48%;
  cursor: pointer;
  margin: 3px 0.5%;
  background-color: #999;
}
/* line 84, ../../scss/03-classes.scss */
.battlefield .left {
  left: 0;
  border-right: 1px dashed #aaa;
}
/* line 88, ../../scss/03-classes.scss */
.battlefield .right {
  right: 0;
  border-left: 1px dashed #aaa;
}

/* line 93, ../../scss/03-classes.scss */
.battlefield_hidden.status_area {
  width: auto;
  transition: all 2s;
  float: none;
}

/* line 98, ../../scss/03-classes.scss */
.battlefield.full_width {
  width: 97.8%;
}

/* line 102, ../../scss/03-classes.scss */
.battlefield_hidden.battlefield {
  display: none !important;
  transition: all 2s;
}

/* Status area */
/* line 108, ../../scss/03-classes.scss */
.status_area {
  width: 25%;
  float: right;
  display: none;
}

/* Effects */
/* line 115, ../../scss/03-classes.scss */
.droplet {
  background-color: red;
  position: fixed;
  border-radius: 100%;
}

/* line 120, ../../scss/03-classes.scss */
.battlefield_message {
  position: absolute;
  text-align: center;
  width: 200px;
  font-weight: 700;
  opacity: 0.8;
}

/* Special rules */
/* line 129, ../../scss/03-classes.scss */
.reveal_rules, .battlefield legend, .status_area legend {
  cursor: pointer;
}

/* line 132, ../../scss/03-classes.scss */
p.reveal_rules {
  text-align: center;
  border-top: 1px dashed #666;
  background-color: #fff;
  margin: 10px -9px 0;
}

/* line 138, ../../scss/03-classes.scss */
.special_rule_search {
  margin: -8px -9px 10px;
  text-align: right;
  width: 50%;
  margin-right: -10px;
  margin-top: -29px;
  float: right;
}
/* line 145, ../../scss/03-classes.scss */
.special_rule_search input {
  float: left;
  width: 98%;
  border-top-right-radius: 5px;
  border: 1px solid #999;
  background-color: #fff;
  font-size: 11px;
  padding: 6px;
  height: auto;
  margin: 0;
  margin-right: 4px;
}

/* line 159, ../../scss/03-classes.scss */
fieldset.special_rules label {
  width: 90%;
  display: inline !important;
}

/* Damage bars */
/* line 166, ../../scss/03-classes.scss */
.damage_outer {
  position: relative;
  margin-top: 10px;
  border: 1px solid #000;
  background-color: #eee;
  opacity: .5;
}

/* line 173, ../../scss/03-classes.scss */
.morale_bar {
  background-color: yellow !important;
  z-index: 0 !important;
}

/* line 177, ../../scss/03-classes.scss */
.nerve_bar {
  background-color: #6666ff !important;
  z-index: 1 !important;
}

/* line 181, ../../scss/03-classes.scss */
.morale_area p {
  text-align: center;
}

/* line 184, ../../scss/03-classes.scss */
.damage_bar {
  z-index: 2;
  width: 0;
  background-color: #800;
  transition: all 1s;
  position: absolute;
}

/* line 191, ../../scss/03-classes.scss */
.damage_bar, .damage_outer {
  height: 20px;
}

/* line 194, ../../scss/03-classes.scss */
.combat_overlay {
  position: absolute;
  top: 20px;
  width: 200px;
  height: 202px;
  background: url(../images/combat.png) 50% 50% no-repeat transparent;
  top: 45px;
  display: none;
}

/* line 203, ../../scss/03-classes.scss */
p.half_col {
  clear: none;
}

/* line 206, ../../scss/03-classes.scss */
.bar_col {
  width: 45%;
}

/* line 209, ../../scss/03-classes.scss */
.bar {
  height: 10px;
  color: #fff;
  background-color: #22f;
}

/* line 214, ../../scss/03-classes.scss */
.bar_unit_1 {
  background-color: #66f;
}

/* line 217, ../../scss/03-classes.scss */
.bar_unit_2 {
  background-color: #aaf;
  color: #000;
}

/* line 221, ../../scss/03-classes.scss */
.bar_unit_1, .bar_unit_2 {
  float: left;
}

/* line 224, ../../scss/03-classes.scss */
.key_title {
  cursor: pointer;
}

/* line 227, ../../scss/03-classes.scss */
.small_text {
  font-size: 0.8em;
}

/* line 230, ../../scss/03-classes.scss */
.close_button {
  border: 1px solid #888;
  text-align: center;
  background-color: #ddd;
  margin: 10 auto;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}

/* line 239, ../../scss/03-classes.scss */
.close_button:hover {
  border: 1px solid #ddd;
  background-color: #888;
}

/* line 244, ../../scss/03-classes.scss */
.swap_units {
  border: 1px solid #aaa;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -1px;
  cursor: pointer;
  padding: 1px 10px;
}
