@media only screen and (max-width: 980px) {
  /* line 2, ../../scss/05-media-queries.scss */
  label, .half_col, select, textarea, input {
    width: 100%;
    float: none;
    clear: both;
    margin: 0;
  }

  /* line 8, ../../scss/05-media-queries.scss */
  .clear {
    display: none;
  }

  /* line 11, ../../scss/05-media-queries.scss */
  fieldset .clear {
    display: block;
  }

  /* line 14, ../../scss/05-media-queries.scss */
  #start_sim {
    padding: 10px !important;
    font-size: 1.2em;
  }

  /* line 18, ../../scss/05-media-queries.scss */
  label, select, textarea, input {
    clear: both;
  }
}
